<!DOCTYPE html>
<html lang="en">

<%- include('partials/head',{
    title : 'HOME'
}) %>

<body class="home">
    <%- include('partials/header') %>

    <div class="home__banner">
        <img src="/images/banner/banner_1.jpg" alt="">
    </div>

        <main class="p-3">

            <% sections.forEach(section => { %>
                <h3 class="mt-5"><%= section.name.toUpperCase() %></h3>
                <hr>
                <section class="row">
                <% section.products.forEach(product => { %>
                      <%- include('./partials/cardProduct', {
                        product,
                        toThousand
                      }) %>
                   
                <% }) %>
                </section>
            <% }) %>

          
        </main>

  
   

    <script src="/javascripts/index.js"></script>

    <%- include('partials/scripts') %>

</body>

</html>