<article class="col-12 col-md-4 col-lg-3 mb-3">
    <div class="card home__main__article mx-auto">
        <div class="card-body d-flex flex-column justify-content-between position-relative">
            <img src="/images/<%= product.image  %>">
            <div class="home__main__article--description">
                <h4><%= product.name %></h4>
                <% if (product.discount) { %>
                    <div class="d-flex gap-1 justify-content-end">
                        <h3 class="fw-bold text-dark">$<span><%= toThousand(product.price - product.price * product.discount / 100)%></span></h3>
                        <p class="text-secondary">$<span class="text-decoration-line-through"><%= product.price %></span></p>
                    </div>
                    
                <% }else{ %>
                    <h3 class="fw-bold text-end">$<span><%= toThousand(product.price) %></span></h3>
                <% } %>
             
                <hr>
                <div class="d-flex justify-content-around">
                    <a class="btn btn-secondary" href="/products/detail/<%= product.id %>">+INFO</a>
                    <button class="btn btn-primary"><i class="fa-solid fa-cart-plus"></i></button>
                </div>
                
            </div>
            <% if (product.discount) { %>
                <h4 class="position-absolute top-50 start-50">
                <span class=" badge rounded-pill bg-danger">
                    <%=  product.discount %>% OFF
                   </span>
                </h4>
                
            <% } %>
        </div>    
    </div>
   
</article>